.card-img {
  width: 350px;
  height: 200px;
  text-align: center;
  background-image: linear-gradient(lightgray, black);;
}

.track-img {
  max-width: 350px;
  padding: 1rem;
  max-height: 200px;
}

.mat-mdc-card-header {
  padding: 5px 0 0;
}

.mat-mdc-checkbox {
  width: 318px;
}

.app-favorite {
  float: right;
}

