.owned {
  background-color: #6ebb6e;
}

.doneWeek {
  background-color: lightgray !important;
}

.p-05 {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.inline {
  overflow: hidden;
  white-space: nowrap;
}

.w-500 {
  width: 35%;
}

.m-1 {
  margin: 1rem;
}

.fs-12 {
  font-size: 12px;
}

.mat-mdc-table .mat-mdc-header-cell, .mdc-data-table__cell {
  font-size: 11px;
}
