<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Serie name Column -->
  <ng-container matColumnDef="serieName">
    <th mat-header-cell *matHeaderCellDef>Serie name</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="canRaceSerie(element) ? 'owned' : ''">
      {{getLabel(element.seriesname)}}</td>
  </ng-container>

  <!-- License Column -->
  <ng-container matColumnDef="license">
    <th mat-header-cell *matHeaderCellDef>License</th>
    <td mat-cell *matCellDef="let element">{{getLicense(element.minlicenselevel)}}</td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{getCategory(element.category)}}</td>
  </ng-container>

  <!-- Cars Column -->
  <ng-container matColumnDef="cars">
    <th mat-header-cell *matHeaderCellDef>Cars</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isSomeCarOwned(element.cars | json) ? 'owned' : ''">
      {{parseCars(element.cars | json)}}</td>
  </ng-container>

  <!-- Fixed/Open Column -->
  <ng-container matColumnDef="fixedOpen">
    <th mat-header-cell *matHeaderCellDef>Fixed/Open</th>
    <td mat-cell *matCellDef="let element">{{getFixedOpenSetup(element.isFixedSetup)}}</td>
  </ng-container>

  <!-- How many races can I run? Column -->
  <ng-container matColumnDef="howMany">
    <th mat-header-cell *matHeaderCellDef>How many can I race?</th>
    <td mat-cell *matCellDef="let element">{{countRaces(element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 0 Column -->
  <ng-container matColumnDef="week0">
    <th mat-header-cell *matHeaderCellDef>Week 0</th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="isTrackOwned(0, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(0, element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 1 Column -->
  <ng-container matColumnDef="week1">
    <th mat-header-cell *matHeaderCellDef>Week 1</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isTrackOwned(1, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(1, element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 2 Column -->
  <ng-container matColumnDef="week2">
    <th mat-header-cell *matHeaderCellDef>Week 2</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isTrackOwned(2, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(2, element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 3 Column -->
  <ng-container matColumnDef="week3">
    <th mat-header-cell *matHeaderCellDef>Week 3</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isTrackOwned(3, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(3, element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 4 Column -->
  <ng-container matColumnDef="week4">
    <th mat-header-cell *matHeaderCellDef>Week 4</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isTrackOwned(4, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(4, element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 5 Column -->
  <ng-container matColumnDef="week5">
    <th mat-header-cell *matHeaderCellDef>Week 5</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isTrackOwned(5, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(5, element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 6 Column -->
  <ng-container matColumnDef="week6">
    <th mat-header-cell *matHeaderCellDef>Week 6</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isTrackOwned(6, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(6, element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 7 Column -->
  <ng-container matColumnDef="week7">
    <th mat-header-cell *matHeaderCellDef>Week 7</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isTrackOwned(7, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(7, element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 8 Column -->
  <ng-container matColumnDef="week8">
    <th mat-header-cell *matHeaderCellDef>Week 8</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isTrackOwned(8, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(8, element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 9 Column -->
  <ng-container matColumnDef="week9">
    <th mat-header-cell *matHeaderCellDef>Week 9</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isTrackOwned(9, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(9, element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 10 Column -->
  <ng-container matColumnDef="week10">
    <th mat-header-cell *matHeaderCellDef>Week 10</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isTrackOwned(10, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(10, element.tracks | json)}}</td>
  </ng-container>

  <!-- Week 11 Column -->
  <ng-container matColumnDef="week11">
    <th mat-header-cell *matHeaderCellDef>Week 11</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="isTrackOwned(11, element.tracks | json) ? 'owned' : ''">
      {{getTrackLabel(11, element.tracks | json)}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
