.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login-container {
  width: 50%;
  height: 25%;
  background-color: lightsteelblue;
  border-radius: 3px;
  padding: 2rem;
}

.login-field {
  width: 100%;
}

.button-container {
  float: right;
}

button {
  margin-left: 1rem;
}
