<div class="page-container">
  <div class="login-container">
    <form [formGroup]="form">
      <mat-form-field class="login-field">
        <mat-label>iRacing user</mat-label>
        <input matInput
               [formControlName]="'user'"
               value="{{form.controls.user.value}}">
      </mat-form-field>

      <mat-form-field class="login-field">
        <mat-label>iRacing password</mat-label>
        <input matInput
               type="password"
               [type]="hide ? 'password' : 'text'"
               [formControlName]="'password'"
               value="{{form.controls.password.value}}">
        <button mat-icon-button matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="button-container">
        <button mat-button (click)="offlineMode()">Offline mode</button>
        <button mat-raised-button
                type="button"
                color="primary"
                (click)="login()"
                [disabled]="true">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
